@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500&family=Roboto:wght@400;500&display=swap');

body h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}
body{
    position: relative;
}
.nabar-top{
    /* background: rgb(4, 77, 41); */
   width: 100%;
   top:0px;
   box-shadow: 10px 5px 12px;
}
.navbar .navbar-brand{
    color:black !important;
    border:2px solid gold;
    background:white;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:0px 20px;
}
.navbar .navbar-brand{
    color:white;
}
.customnabar .nav-item .nav-link{
    color:black;
    font-size: 20px;
    padding:0px 20px;
}
.customnabar .nav-item .nav-link:hover{
    color:rgb(0, 3, 1);
    box-shadow: 0px 2px 0px;
    background: white;
    font-size: 20px;
    padding:0px 20px;
}
.customnabar button{
    color:white;
    padding:5px 20px;
    border-radius: 10px; 
    background: rgb(173, 19, 127);
}
.top-card-Home{
    padding:100px 0px;
    height: 100%;
    background-size: cover;
    position: relative; 
}
.card-home .text-col h1{
    font-size: 70px;
    display: block;
}
.card-home .text-col button{
   border-radius: 10px;
   background: rgb(108, 20, 223);
   border:none;
   margin:20px 0px;
   color: white !important;
}
.icons-contact .icons{
    font-size: 30px;
}
.icons-contact i{
    margin-right:50px; 
}
.buttons{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly   ;
}
.top-card-Home .btn{
    padding:10px 10px;
    width:150px;
    border-radius: 20px;
    border:2px solid black;
    color:black !important;
}
/* .top-card-Home .btn:hover{
    padding:10px 10px;
    width:150px;
    border-radius: 20px;
    border:2px solid white;
    background: burlywood;
} */
.top-card-Home a{
    color:white !important;
}
  .card-home-right img{
        margin: 50px auto; /* Center the image */
        animation:  animate__slideInRight; 
  }
  .top-card-Home h3{
    font-size: 30px;
    margin:30px 0px;
  }
  .top-card-Home h3 span{
    color: rgb(76, 0, 255);
    font-size: 35px !important;
    text-shadow: 3px -2px 25px rgba(201, 26, 26, 1);
  }
  /* .top-card-Home span{
    background: rgb(164, 98, 226);
    padding:20px;
  } */
 
    /* width: 100px;
    height: 100px; */
    /* background: rgb(232, 248, 6);
    border:2px solid brown;
    transition: width 2s, height 4s;
    padding: 20px 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; */
 .text-animate:hover{
    width: 0px;
    height: 100px;
    border:2px solid gold;
 }
.top-card-Home h1,h3,h2,p{
    color:black;
}
.card-home p{
    font-size: 20px;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img-contain .img-fluid{
    /* border:5px solid white; */
    border-radius: 30px;
}
/* @media  screen and (max-width:576px) {
    .card-home::before{
        background-image: url('/images/stroke.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top:130px;
        left:120px;
        width:240px;
        height: 240px;
        content: "";
        display: none;
        z-index: -1;
    }
} */
.card-home h2{
    margin:20px 0px;
}
.card-home-left h3 mark{
    background: yellow;
    border-radius: 20px;
    padding:20px;
    display:inline-block;
    width:100%;
    border:5px solid white;
}
.card-home-left h3 mark:hover{
    background: rgb(255, 0, 0);
    border-radius: 20px;
    padding:20px;
    margin:10px 0px;
    display:inline-block;
    width:100%;
}

.card-home-left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-home-right{
    height: 100%;
    display: flex;
    justify-content: center;
}
.slide{
    border:2px solid rgb(90, 77, 5);
    border-radius:15px;
    height: 100%;
    /* width: 100%; */
    padding:55px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 2s;
}
@media screen and (max-width:992px){
    .top-card-Home h2{
        font-size: 25px;
    }
    .top-card-Home h3{
        font-size: 25px;
    }
    .top-card-Home p{
        font-size: 20px;
    }
}
@media screen and (max-width:576px){
    .top-card-Home h2{
        font-size: 25px;
    }
    .top-card-Home h3{
        font-size: 15px;
    }
    .top-card-Home p{
        font-size: 20px;
    }
}

.slide h2{
    color:black;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
}
.slide h5,h6{
    color:black;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
}
.slide i{
    color:rgb(240, 70, 70);
    font-size: 50px;
    padding:20px;
    border:3px solid rgb(1, 3, 7);
    border-radius:50%;
}
.slide:hover{
    background: rgb(2, 17, 80);
    transform: rotateY(360deg);
}
.slide:hover h6{
    color:white;
}
.slide:hover h1{
    color:white;
}
.slide:hover h2{
    color:white;
}
.slide:hover h5{
    color:white;
}
.slide:hover i{
    background: white;
}
@media screen and (max-width:992px){
    .education-card-top .slide{
        width:100%;
    }
    .education-card-top .slide h2{
        font-size: 20px;
        padding:5px 0px;
    }
    .education-card-top .slide h5{
        font-size: 15px;
    }
    .education-card-top .slide h6{
        font-size: 18px;
    }
    .education-card-top .slide i{
        font-size: 30px;
    }
    .education-card-top  h1{
        font-size: 30px;
        color:red !important;
    }
}
.education-card-top{
    padding:100px 0px;
    background: #b3b3aad0;
   
}
.progress{
    width:100%;
    height: 20px;
}
.education-card-top h1{
    color:black;
    /* border:10px solid black; */
    padding:10px 50px;
    background: white;
    width: fit-content;
    box-shadow: 19px 18px 0px -2px rgba(18,5,5,1);
    -webkit-box-shadow: 19px 18px 0px -2px rgba(18,5,5,1);
    -moz-box-shadow: 19px 18px 0px -2px rgba(18,5,5,1);
}
.skills-card-top{
    padding:100px 0px;
    background: rgb(3, 70, 58);
}
@media screen and (max-width:768px){
    .skills-card-top .second-row{
      display: flex;
      flex-direction: column-reverse;
      color: red !important;
    }
}
@media screen and (max-width:991px){
    .skills-card-top .second-row{
      display: flex;
      flex-direction: column-reverse;
    }
}
.skills-card-top h1{
    color:black;
    /* border:10px solid black; */
    padding:10px 50px;
    background: white;
    width: fit-content;
    box-shadow: 19px 18px 0px -2px rgba(18,5,5,1);
    -webkit-box-shadow: 19px 18px 0px -2px rgba(18,5,5,1);
    -moz-box-shadow: 19px 18px 0px -2px rgba(18,5,5,1);
    
}
.skills-card-top .row{
    padding:50px 0px;
}
.skill-col-left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 20px;
}
.skill-col-left p{
   
    color: white;
}
.Activities-card-top{
    background: rgb(235, 233, 233);
    padding:100px 0px;
}
.Activities-card-top h1{
    color:black;
    /* border:10px solid black; */
    padding:10px 50px;
    background: white;
    width: fit-content;
    box-shadow: 19px 18px 0px -2px rgba(18,5,5,1);
    -webkit-box-shadow: 19px 18px 0px -2px rgba(18,5,5,1);
    -moz-box-shadow: 19px 18px 0px -2px rgba(18,5,5,1);
}
@media screen and (max-width:992px){
    .Activities-card-top img{ 
        margin:15px 0px;
}
    .modify-row {
        display: flex;
        flex-direction: column-reverse;
    }
}

.act-col-right{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(104, 103, 105); */
    border-radius: 20px;
    width: 100%;
    border:3px solid black;
    box-shadow: 15px 15px 10px black;
}
.act-col-right p{
    color:black;
    padding:20px;
    font-size: 20px;
}
.about-card-top{
    padding:100px 0px;
    background: #74746ed0;
}
.about-card-top h1{
    margin:30px 0px;
}
.about-card-top h1 mark{
    background: yellow;
}
.about-card-top .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.about-card-top h3{
    color: blue;
    text-align: center;
}
.img-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
@media  screen and (max-width:576px) {
    .about-card-contain{
        display: flex;
        flex-direction: column-reverse;
    }
}
#contact p{
   color: white;
}
.contact-col i{
    font-size: 20px;
}
.contact-col a{
    font-size: 15px;
    text-decoration: none;
    color:white;
}
.contact-col a .title{
    background: wheat;
    border:2px solid gold;
}
.contact-col2 i{
    font-size: 20px;
}
.contact-col2 p{
    font-size: 15px;
}
.contact-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 0px;
}
#contact{
    border:2px solid black;
    background: rgb(10, 10, 10);
}
.contact-col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px 0px;
}
.contact-col2 a{
    color:white !important;

}
.about-card-top1 i{
    background:beige;
    border-radius: 10px;
    padding:5px;
}
.about-card-top1 i{  
    border:3px solid gold;
}
.about-card-top1 i:hover{
    background: green;
}
.contact-me-contain{
    padding:50px 0px;
}
.contact-me-contain input{
    width: 100%;
    padding:10px 10px;
    border-radius: 10px;
    border: 2px solid gold;
}
.contact-me-contain label{
    font-size: 20px;
    font-style: bold;
    color:black !important;
}
.contact-me-right input{
    border: 2px solid gold;
} 
.contact-me-right button{
    padding:10px 50px;
}  
